#data {
	font-size: small;
	font-family: monospace;
}

#results {
	
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 10px;
    /* justify-items: center; */
}

.grid-item {
	padding: 1rem;
}
